doctype 5
html
    head
        title SimplePush Test Pod
        link(rel="stylesheet", href="/css/main.css")
        script(data-main="/js/app", src="/js/lib/require.js")
    
    body

        h2 Config Options
        table.stats
            tr
                td.stat Push Server
                td
                    span#server
            tr
                td.stat Min Update Time
                td
                    span#minupdatetime
            tr
                td.stat Max Update Time
                td
                    span#maxupdatetime
            tr
                td.stat Workers
                td
                    span#workers
            tr
                td.stat Clients
                td
                    span#clients
            tr
                td.stat Channels/client
                td
                    span#channels
            tr
                td.stat Test time
                td
                    span#test_seconds
                    |  seconds 

        h2 Websocket Statistics

        table.stats
            tr
                td.stat WS Status
                td 
                    span#connectionStatus.disconnected -


        table.stats
            tr
                td.stat WebSockets connected
                td.num
                    span#conn_current


        h3 Connection Stats
        table.stats
            tr
                th Attempted
                th Wait Connect
                th Wait Register
                th OK
                th Dropped
                th Success Rate
            tr
                td.num
                    span#conn_attempted --
                    | (
                    span#d_conn_attempted
                    |)
                td.num
                    span#conn_wait --
                    | (
                    span#d_conn_wait
                    |)
                td.num
                    span#conn_wait_reg --
                    | (
                    span#d_conn_wait_reg
                    |)
                td.num
                    span#conn_ok --
                    | (
                    span#d_conn_ok
                    |)
                td.num
                    span#conn_drop --
                    | (
                    span#d_conn_drop
                    |)
                td.num
                    span#conn_rate --
                    span %

        h3 Connection Lifetime

        table.stats
            tr
                th 5s
                th 30s
                th 1m
                th 5m
                th 10m
                th 30m
                th &gt; 30m
            tr
                td.num
                    span#c_t5s -
                td.num
                    span#c_t30s -
                td.num
                    span#c_t60s -
                td.num
                    span#c_t300s -
                td.num
                    span#c_t600s -
                td.num
                    span#c_t1800s -
                td.num
                    span#c_tXs -

        p.about 
            strong Note: 
            | These are buckets with time measurements of how long socket connections
            | are able to stay connected for. 


        h2 Update Stats
        table.stats
            tr
                th PUT Sent
                th PUT Failed 
                th Wait
                th Received
                th Timed out
                th Invalid
                th Success Rate
            tr
                td.num
                    span#put_sent
                    | (
                    span#d_put_sent
                    |)
                td.num
                    span#put_failed
                td.num
                    span#update_outstanding
                    | (
                    span#d_update_outstanding
                    |)
                td.num
                    span#update_received
                    | (
                    span#d_update_received
                    | )
                td.num
                    span#update_timeout
                td.num
                    span#update_invalid
                td.num
                    span#update_rate
                    span %

        h3 WS Return time
        p.about
            | A measure of how long after the 
            | PUT request do we get an update through the websocket

        table.stats
            tr
                th 50ms
                th 100ms
                th 500ms
                th 1.5s
                th 5s
                th 10s
                th 20s
                th 60s
                th &gt; 60s
            tr
                td.num
                    span#u_t50ms -
                td.num 
                    span#u_t100ms -
                td.num 
                    span#u_t500ms -
                td.num 
                    span#u_t1500ms -
                td.num 
                    span#u_t5000ms -
                td.num 
                    span#u_t10000ms -
                td.num 
                    span#u_t20000ms -
                td.num 
                    span#u_t60000ms -
                td.num 
                    span#u_tXms -

        table.stats
            tr
                td.stat average
                td.num 
                    span#ping_avg 0
            tr
                td.stat median
                td.num 
                    span#ping_median 0

