table.stats
    border-collapse:collapse;
    td, th
        min-width 5em
        border 1px solid black
        padding 0.25em 

    th
        background-color #CCCCCC
        font-weight bold

    td
        &.stat
            font-weight bold
            background-color #CCCCCC


        &.num
            text-align right

p.about
    outline 1px solid rgba(200,200,0,0.75)
    padding 0.5em
    margin 0.5em 0 0.5em 0
    width 40em
